.form {
    background-color: #c2d2ee;
    font-size: 1.2rem;
    padding: 0.5rem 0.9rem;
    border: solid 5px white;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

.form h2 { 
    font-size: 2.1rem;
    color: rgb(46, 45, 45);
    margin: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.form button{
    font-size: 1.1rem;
    font-weight: 500;
    background-color:#2f60b2;
    color: white;
    margin: 5% 0;
    padding: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: solid 1px white; 
    border-radius: 4px;
    box-shadow: 0 0 2px black;
    cursor: pointer;
}

.form button:hover{
    background-color:#295aaf;
}

