.App {
  display: flex;
  justify-content: space-evenly;
  max-width: 1300px;
  min-height: 95vh;
  margin: 20px auto;
  background-color: rgb(218, 221, 226);
  box-shadow: 0 0 10px black;
}

.addTask {
  flex-basis: 25%;
}

.tasksList {
  flex-basis: 60%;
}





