.App {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  min-height: 86vh;
  margin: 1.3rem auto;
  padding:  2rem 2rem;
  background-color: rgb(218, 221, 226);
  box-shadow: 0 0 10px black;
}

.addTask {
  flex-basis: 28%;
}

.tasksListArea {
  position: relative;
  flex-basis: 60%;
}






