.singleTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: dotted 1px gray;
}

.task{
    display: flex;
    align-items: center;
    justify-content: center;
}

.task p {
    flex-basis: 60%;
    flex-grow: 1;
    margin-right: 1.3rem;
}

.task p span {
    font-weight: bold;
}

button.important{
    background-color: transparent;
}

button.confirm,
button.delete,
button.description{  
    
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    align-self: center;
    text-align: center;
    padding: 0;
    /*font-weight: bold;*/
    font-size: 2rem;
    background-color: transparent;
    transition: .2s;
}

button.confirm:hover,
button.description:hover,
button.delete:hover {
    transform: scale(1.3);
}

.descriptionList {
    padding: 0.7rem;
    margin-bottom: 0.6rem;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
}
