.list {
    position: relative;
    min-height: 80vh;
    background-color:white;
    padding: 0.5rem 1.3rem;
}

.tasksList button{
    background-color: #c2d2ee;
    color: rgb(46, 45, 45);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.9rem 2.1rem  0.5rem 0.9rem;
    text-transform: uppercase;
    border-top-right-radius: 50px;
    border-top-left-radius: 10px;
    border: none;
    letter-spacing: 0.5px;
}

.tasksList button:hover{
    cursor: pointer;
}

.tasksList button:focus{
    outline: 0
}

.tasksList button.active {
    background-color: white;
}

.confirmTask h4 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.3rem;
}

.blank {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 1.4rem;
}
P {
    text-align: justify;
}