.unActiveTask{
    display: flex;
    justify-content: stretch;
    align-items: center;
    border-bottom: dotted 1px gray;
}

.unActiveTask p{
    margin-right: 1.3rem;
    line-height: 1.5;
    flex-basis: 33%;
}

.unActiveTask p:nth-child(1){
    flex-grow: 1;
    padding-left: 0.8rem;
   
}

.unActiveTask p:nth-child(2) {
   text-align: end;
}

.unActiveTask p span {
    font-weight: bold;
}

