.unActiveTask{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 0.5rem;
    border-bottom: dotted 1px gray;
}

.unActiveTask p:last-child {
    flex-basis: 35%;
    text-align: end;
    font-size: 0.9rem;
}

.unActiveTask p:first-child {
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 1.3rem;
    line-height: 1.5;
}

.unActiveTask p span {
    font-weight: bold;
}

